MultipleChoiceApp/Connected Services/Bi.Exam/ExamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://peteranh.com/Services/Exam" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://peteranh.com/Services/Exam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://peteranh.com/Services/Exam">
      <s:element name="isAvailableBetweenDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="subjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAvailableBetweenDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAvailableBetweenDateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExamOverviewById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExamOverviewByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExamOverviewByIdResult" type="tns:ExamOverview" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExamOverview">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TakenStudentCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AveragePoints" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalQuestion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllForReport">
        <s:complexType />
      </s:element>
      <s:element name="getAllForReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllForReportResult" type="tns:ArrayOfExam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Exam" nillable="true" type="tns:Exam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Exam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Semester" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubjectId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EasyQty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HardQty" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalQuestion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StudentCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="tns:Subject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalQuestion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lecturer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getExamReportById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExamReportByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExamReportByIdResult" type="tns:Exam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAvailableBySubjectId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubjectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAvailableBySubjectIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAvailableBySubjectIdResult" type="tns:Exam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchByKeywordResult" type="tns:ArrayOfExam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllForSelectData">
        <s:complexType />
      </s:element>
      <s:element name="getAllForSelectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllForSelectDataResult" type="tns:ArrayOfExam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemsPerPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentPage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllResult" type="tns:ArrayOfExam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="countAll">
        <s:complexType />
      </s:element>
      <s:element name="countAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countAllResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetailsByIdResult" type="tns:Exam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Exam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addMany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfExam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addManyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addManyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Exam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isAvailableBetweenDateSoapIn">
    <wsdl:part name="parameters" element="tns:isAvailableBetweenDate" />
  </wsdl:message>
  <wsdl:message name="isAvailableBetweenDateSoapOut">
    <wsdl:part name="parameters" element="tns:isAvailableBetweenDateResponse" />
  </wsdl:message>
  <wsdl:message name="getExamOverviewByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getExamOverviewById" />
  </wsdl:message>
  <wsdl:message name="getExamOverviewByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getExamOverviewByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllForReportSoapIn">
    <wsdl:part name="parameters" element="tns:getAllForReport" />
  </wsdl:message>
  <wsdl:message name="getAllForReportSoapOut">
    <wsdl:part name="parameters" element="tns:getAllForReportResponse" />
  </wsdl:message>
  <wsdl:message name="getExamReportByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getExamReportById" />
  </wsdl:message>
  <wsdl:message name="getExamReportByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getExamReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAvailableBySubjectIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAvailableBySubjectId" />
  </wsdl:message>
  <wsdl:message name="getAvailableBySubjectIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAvailableBySubjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="searchByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:searchByKeyword" />
  </wsdl:message>
  <wsdl:message name="searchByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:searchByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAllForSelectData" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAllForSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSoapIn">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="getAllSoapOut">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="countAllSoapIn">
    <wsdl:part name="parameters" element="tns:countAll" />
  </wsdl:message>
  <wsdl:message name="countAllSoapOut">
    <wsdl:part name="parameters" element="tns:countAllResponse" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getDetailsById" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="addManySoapIn">
    <wsdl:part name="parameters" element="tns:addMany" />
  </wsdl:message>
  <wsdl:message name="addManySoapOut">
    <wsdl:part name="parameters" element="tns:addManyResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ExamServiceSoap">
    <wsdl:operation name="isAvailableBetweenDate">
      <wsdl:input message="tns:isAvailableBetweenDateSoapIn" />
      <wsdl:output message="tns:isAvailableBetweenDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExamOverviewById">
      <wsdl:input message="tns:getExamOverviewByIdSoapIn" />
      <wsdl:output message="tns:getExamOverviewByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllForReport">
      <wsdl:input message="tns:getAllForReportSoapIn" />
      <wsdl:output message="tns:getAllForReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExamReportById">
      <wsdl:input message="tns:getExamReportByIdSoapIn" />
      <wsdl:output message="tns:getExamReportByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableBySubjectId">
      <wsdl:input message="tns:getAvailableBySubjectIdSoapIn" />
      <wsdl:output message="tns:getAvailableBySubjectIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <wsdl:input message="tns:searchByKeywordSoapIn" />
      <wsdl:output message="tns:searchByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <wsdl:input message="tns:getAllForSelectDataSoapIn" />
      <wsdl:output message="tns:getAllForSelectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAllSoapIn" />
      <wsdl:output message="tns:getAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <wsdl:input message="tns:countAllSoapIn" />
      <wsdl:output message="tns:countAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <wsdl:input message="tns:getDetailsByIdSoapIn" />
      <wsdl:output message="tns:getDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <wsdl:input message="tns:addManySoapIn" />
      <wsdl:output message="tns:addManySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamServiceSoap" type="tns:ExamServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isAvailableBetweenDate">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/isAvailableBetweenDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExamOverviewById">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getExamOverviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForReport">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getAllForReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExamReportById">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getExamReportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableBySubjectId">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getAvailableBySubjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/searchByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/countAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/getDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/addMany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://peteranh.com/Services/Exam/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExamServiceSoap12" type="tns:ExamServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isAvailableBetweenDate">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/isAvailableBetweenDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExamOverviewById">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getExamOverviewById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForReport">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getAllForReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExamReportById">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getExamReportById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableBySubjectId">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getAvailableBySubjectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/searchByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/countAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/getDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/addMany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://peteranh.com/Services/Exam/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamService">
    <wsdl:port name="ExamServiceSoap" binding="tns:ExamServiceSoap">
      <soap:address location="http://localhost:3902/Services/ExamService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExamServiceSoap12" binding="tns:ExamServiceSoap12">
      <soap12:address location="http://localhost:3902/Services/ExamService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>