MultipleChoiceApp/Connected Services/Bi.Manager/ManagerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://peteranh.com/Services/Manager" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://peteranh.com/Services/Manager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://peteranh.com/Services/Manager">
      <s:element name="getByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getByCodeResult" type="tns:Manager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Manager">
        <s:complexContent mixed="false">
          <s:extension base="tns:User">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="User" />
      <s:element name="getByCodeAndPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getByCodeAndPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getByCodeAndPasswordResult" type="tns:Manager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchByKeywordResult" type="tns:ArrayOfManager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManager">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Manager" nillable="true" type="tns:Manager" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllForSelectData">
        <s:complexType />
      </s:element>
      <s:element name="getAllForSelectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllForSelectDataResult" type="tns:ArrayOfManager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemsPerPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentPage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllResult" type="tns:ArrayOfManager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="countAll">
        <s:complexType />
      </s:element>
      <s:element name="countAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countAllResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetailsByIdResult" type="tns:Manager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Manager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addMany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfManager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addManyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addManyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Manager" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getByCode" />
  </wsdl:message>
  <wsdl:message name="getByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getByCodeAndPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:getByCodeAndPassword" />
  </wsdl:message>
  <wsdl:message name="getByCodeAndPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:getByCodeAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="searchByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:searchByKeyword" />
  </wsdl:message>
  <wsdl:message name="searchByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:searchByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAllForSelectData" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAllForSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSoapIn">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="getAllSoapOut">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="countAllSoapIn">
    <wsdl:part name="parameters" element="tns:countAll" />
  </wsdl:message>
  <wsdl:message name="countAllSoapOut">
    <wsdl:part name="parameters" element="tns:countAllResponse" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getDetailsById" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="addManySoapIn">
    <wsdl:part name="parameters" element="tns:addMany" />
  </wsdl:message>
  <wsdl:message name="addManySoapOut">
    <wsdl:part name="parameters" element="tns:addManyResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ManagerServiceSoap">
    <wsdl:operation name="getByCode">
      <wsdl:input message="tns:getByCodeSoapIn" />
      <wsdl:output message="tns:getByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getByCodeAndPassword">
      <wsdl:input message="tns:getByCodeAndPasswordSoapIn" />
      <wsdl:output message="tns:getByCodeAndPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <wsdl:input message="tns:searchByKeywordSoapIn" />
      <wsdl:output message="tns:searchByKeywordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <wsdl:input message="tns:getAllForSelectDataSoapIn" />
      <wsdl:output message="tns:getAllForSelectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAllSoapIn" />
      <wsdl:output message="tns:getAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <wsdl:input message="tns:countAllSoapIn" />
      <wsdl:output message="tns:countAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <wsdl:input message="tns:getDetailsByIdSoapIn" />
      <wsdl:output message="tns:getDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <wsdl:input message="tns:addManySoapIn" />
      <wsdl:output message="tns:addManySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagerServiceSoap" type="tns:ManagerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getByCode">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/getByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByCodeAndPassword">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/getByCodeAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/searchByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/countAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/getDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/addMany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://peteranh.com/Services/Manager/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagerServiceSoap12" type="tns:ManagerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getByCode">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/getByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByCodeAndPassword">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/getByCodeAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByKeyword">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/searchByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/getAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/countAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/getDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/addMany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://peteranh.com/Services/Manager/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="ManagerServiceSoap" binding="tns:ManagerServiceSoap">
      <soap:address location="http://localhost:3902/Services/ManagerService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagerServiceSoap12" binding="tns:ManagerServiceSoap12">
      <soap12:address location="http://localhost:3902/Services/ManagerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>