MultipleChoiceApp/Connected Services/Bi.StudentResponse/StudentResponseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://peteranh.com/Services/StudentResponse" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://peteranh.com/Services/StudentResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://peteranh.com/Services/StudentResponse">
      <s:element name="getAllByExamAndStudentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="examId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="studentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllByExamAndStudentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllByExamAndStudentIdResult" type="tns:ArrayOfStudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudentResponse" nillable="true" type="tns:StudentResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StudentResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StudentResultId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Question" type="tns:Question" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerOrder" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="AnswerNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RandomAnswerNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="No" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Question">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImgUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Chapter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CorrectAnswerNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lecturer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionInExamCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Answers" type="tns:ArrayOfAnswer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Answer" nillable="true" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Answer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QuestionId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="No" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnswerCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllForSelectData">
        <s:complexType />
      </s:element>
      <s:element name="getAllForSelectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllForSelectDataResult" type="tns:ArrayOfStudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemsPerPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentPage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllResult" type="tns:ArrayOfStudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="countAll">
        <s:complexType />
      </s:element>
      <s:element name="countAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countAllResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDetailsByIdResult" type="tns:StudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:StudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addMany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfStudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addManyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addManyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:StudentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllByExamAndStudentIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllByExamAndStudentId" />
  </wsdl:message>
  <wsdl:message name="getAllByExamAndStudentIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllByExamAndStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapIn">
    <wsdl:part name="parameters" element="tns:getAllForSelectData" />
  </wsdl:message>
  <wsdl:message name="getAllForSelectDataSoapOut">
    <wsdl:part name="parameters" element="tns:getAllForSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="getAllSoapIn">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="getAllSoapOut">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="countAllSoapIn">
    <wsdl:part name="parameters" element="tns:countAll" />
  </wsdl:message>
  <wsdl:message name="countAllSoapOut">
    <wsdl:part name="parameters" element="tns:countAllResponse" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getDetailsById" />
  </wsdl:message>
  <wsdl:message name="getDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="addManySoapIn">
    <wsdl:part name="parameters" element="tns:addMany" />
  </wsdl:message>
  <wsdl:message name="addManySoapOut">
    <wsdl:part name="parameters" element="tns:addManyResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentResponseServiceSoap">
    <wsdl:operation name="getAllByExamAndStudentId">
      <wsdl:input message="tns:getAllByExamAndStudentIdSoapIn" />
      <wsdl:output message="tns:getAllByExamAndStudentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <wsdl:input message="tns:getAllForSelectDataSoapIn" />
      <wsdl:output message="tns:getAllForSelectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAllSoapIn" />
      <wsdl:output message="tns:getAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <wsdl:input message="tns:countAllSoapIn" />
      <wsdl:output message="tns:countAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <wsdl:input message="tns:getDetailsByIdSoapIn" />
      <wsdl:output message="tns:getDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <wsdl:input message="tns:addManySoapIn" />
      <wsdl:output message="tns:addManySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentResponseServiceSoap" type="tns:StudentResponseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllByExamAndStudentId">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/getAllByExamAndStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/countAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/getDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/addMany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://peteranh.com/Services/StudentResponse/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentResponseServiceSoap12" type="tns:StudentResponseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllByExamAndStudentId">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/getAllByExamAndStudentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllForSelectData">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/getAllForSelectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/getAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countAll">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/countAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailsById">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/getDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMany">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/addMany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://peteranh.com/Services/StudentResponse/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentResponseService">
    <wsdl:port name="StudentResponseServiceSoap" binding="tns:StudentResponseServiceSoap">
      <soap:address location="http://localhost:3902/Services/StudentResponseService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentResponseServiceSoap12" binding="tns:StudentResponseServiceSoap12">
      <soap12:address location="http://localhost:3902/Services/StudentResponseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>